.navbar {
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

body {
    background-color: #fff;
}

.name {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: #212121;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 3px;
    margin-left: 20px;
    line-height: 1.5;
    text-align: center;
}

.price {
    color: #ff6709;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.image {
    width: 160px;
    height: 160px;
    margin-top: 0px;
    margin-left: 37px;
    margin-right: 37px;
}

.item {
    position: relative;
    border: none;
    background: #f1f1f1;
    text-align: center;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    margin-bottom: 5px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 0px;
    padding-right: 0px;
}

.item:hover {
    background-color: #f9f9f9;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}
