table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

thead {
    background-color: #4caf4fc5;
}

tbody th {
    background: #4caf4fc5;
    width: 120px;
}

td {
    background: #146d79c9;
    width: 130px;
}

td,
th {
    border-radius: 5px;
}

tr:nth-child(even) {
    background: #CCC;
}

tbody:nth-child(odd) {
    background-color: #FAFAFA;
}

h1 {
    color: rgb(255, 255, 255);
}